html, body {
height: 100%;
min-height: 100%;
}
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}
input, textarea, button, i {
color: #333;
outline: none;
border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
-webkit-appearance: none;
}
input[type="button"], input[type="submit"] {
cursor: pointer;
-webkit-appearance: none;
outline: none;
}
button {
cursor: pointer;
-webkit-appearance: none;
outline: none;
}
ol, ul {
list-style: none;
}
a {
-webkit-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;
text-decoration: none;
outline: none;
color: inherit;
}
a:hover {
text-decoration: none;
}
.animated {
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}
.content {
max-width: 900px;
margin: 0 auto;
padding: 0 20px;
}
.clearfix::after {
content: "";
display: table;
clear: both;
height: 0;
visibility: hidden;
}
.left {
float: left;
}
.right {
float: right;
}
.text-right {
text-align: right;
}
.text-left {
text-align: left;
}
.text-center {
text-align: center;
}
.up {
position: relative;
z-index: 100;
}
